@inherits LayoutComponentBase



@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
 *@




<PageTitle>BlazorWithEF</PageTitle>

<MudThemeProvider @bind-IsDarkMode="IsDarkMode" Theme="Theme"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

 <MudLayout>
     <div class="page">
         <MudAppBar eElevation="1" Dense="@Dense">
             <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@DrawerToggle"/>
             <MudSpacer/>
             <MudIconButton Icon="@Icon" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleTheme"/>
             <MudAvatar Color="Color.Primary">@VisibleLogin</MudAvatar>
         </MudAppBar>
       
         <MudDrawer @bind-Open="@DrawerOpen" Fixed="true" Elevation="2" Variant="@DrawerVariant.Mini" OpenMiniOnHover="false" Overlay="false" ClipMode="ClipMode" Breakpoint="@Breakpoint">
             <NavMenu/>
         </MudDrawer>
          
         <MudMainContent>
             <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
                 <ErrorBoundary>
                     @Body
                 </ErrorBoundary>
             </MudContainer>
         </MudMainContent>

     </div>
 </MudLayout>